@model IEnumerable<VetRS.Models.VSO>
@section Styles {
    <link rel="stylesheet" href="~/css/user.css" />
}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-2 leftlogodiv">
        <figure class="imageDivLeft">
            <img class="img-fluid logo" src="/assets/vetrs.png" alt="Soldier on knees with big backpack and carrying rifle.">
        </figure>
    </div>
    <div class="col-8">
        <h1 class="text-center customFont">Veterans Service Officer(VSO)</h1>
        <h4 class="text-center">Select a VSO for disability claims assistance.</h4>
    </div>
    <div class="col-2">
        <figure class="imageDivRight">
            <img class="img-fluid logo" src="/assets/SoldierSalutingFlag-300x175.jpg" alt="Soldier saluting flag with big flag background.">
        </figure>
    </div>
</div>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                <p1>Profile</p1>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.VSOStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VSOCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VSOState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VSOZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Profile</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.VSOStreet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VSOCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VSOState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VSOZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
            </tr>
        }
    </tbody>
</table>
