@model VetRS.Models.Education

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Education</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramImageLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramImageLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramBio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramBio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
