@model VetRS.Models.Employer
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
   
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyBio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyBio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyZipCode)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        
    </dl>
</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"
            src="https://www.google.com/maps/embed/v1/place?zoom=16&q=@Model.Lat,@Model.Long&key=@VetRS.APIKeys.GoogleMapsKey"></iframe>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
