@model IEnumerable<VetRS.Models.MilitaryJobTranslator>
@section Styles {
    <link rel="stylesheet" href="~/css/user.css" />
}

@{
    ViewData["Title"] = "Military Job Translator";
}

<h1 class="text-center customFont">Military Job Translator</h1>
<br />
<figure>
    <img class="logo" src="/assets/vetrs.png" alt="Soldier on knees with big backpack and carrying rifle.">
</figure>
<figure>
    <img class="logo2" src="/assets/SoldierSalutingFlag-300x175.jpg" alt="Soldier saluting flag with big flag background.">
</figure>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MilitaryJobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CivilianJobTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
        <form asp-controller="MilitaryJobTranslator" asp-action="Index">
            <p>
                Occupational Specialty: <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>

    </tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>

                <a asp-action="Details" asp-route-id="@item.MilitarySpecialtyNumber"> @Html.DisplayFor(modelItem => item.MilitaryJobTitle)</a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CivilianJobTitle)
            </td>
        </tr>
    }
</table>
