@model IEnumerable<VetRS.Models.MilitaryJobTranslator>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MilitaryJobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CivilianJobTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MilitaryJobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CivilianJobTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MilitarySpecialtyNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MilitarySpecialtyNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MilitarySpecialtyNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
